@import "../../../fontawesome/css/all.css";
@font-face {
    font-family: broya;
    src: url(../broya.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.amp-content-title {
    width: 100%;
    height: 80px;
    font-family: broya;
    font-size: 45px;
    line-height: 80px;
    margin: 0 auto;
}

.amp-content-i {
    font-family: broya;
    width: 100%;
    height: 50px;
    display: flex;
    line-height: 50px;
    font-size: 27px;
    color: darkslategray;
    margin: 0 auto;
}

.amp-content-i>div {
    margin-right: 20px;
}

.amp-content-i>div:first-child {
    margin-right: 0;
    font-size: 25px;
}

.amp-content {
    direction: rtl;
    margin: 10px auto 0;
    line-height: 140%;
    width: 50%;
    font-family: broya;
    text-align: justify;
    height: max-content;
    font-size: 25px;
}

.content-img-con {
    border: #0ca750 dotted 4px;
    margin: 0 auto;
    width: max-content;
    height: max-content;
}

.content-img-con>img {
    /* width: 100%; */
    margin-top: 30px;
    margin-bottom: 6px;
}

.content-img-des {
    height: 30px;
    width: 60%;
    line-height: 30px;
    color: rgba(0, 0, 0, 0.548);
    margin: 0 auto 30px;
    text-align: center;
}

.content-film-con>video {
    width: 100%;
    margin-top: 30px;
    margin-bottom: 6px;
}

.content-film-des {
    height: 30px;
    width: 60%;
    line-height: 30px;
    color: rgba(0, 0, 0, 0.548);
    margin: 0 auto 30px;
    text-align: center;
}

.text-color {
    color: #0ca750;
}

.text-link>a {
    color: #0ca750;
    text-decoration: underline;
}

.highlited-text {
    color: aliceblue;
    background-color: #0ca750;
    display: inline-block;
}

.text-bold {
    font-weight: 600;
}

.mini-title {
    font-size: 36px;
    width: max-content;
}

#amp-dark-light {
    margin-left: 10px;
    width: 50px;
    height: 50px;
    font-size: 50px;
    flex-direction: column;
    position: absolute;
    left: 0;
    text-align: center;
    color: #28313e;
    margin-top: 150px;
    cursor: pointer;
}

.amp-content ul {
    margin-right: 40px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.amp-content ul li ul {
    margin-right: 40px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.amp-content ul li ul li ul {
    margin-right: 40px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.amp-content pre {
    background: #000;
    box-shadow: -5px 0 0 0 #28313e;
    direction: ltr;
    font-size: 20px;
}

.amp-content pre::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.363)
}

.amp-content pre::-webkit-scrollbar {
    background: rgba(0, 0, 0, 0);
}

.toolbar-item {
    font-family: monospace;
    user-select: none;
    direction: ltr !important;
}

#tags-con {
    line-height: 40px;
    width: 50%;
    margin: 5px auto 5px;
    height: max-content;
    direction: rtl;
    display: flex;
    font-size: 20px;
    font-family: broya;
    flex-wrap: wrap;
}

.amp-tags {
    cursor: pointer;
    padding: 0 10px 0;
    direction: rtl;
    background: #000;
    text-align: center;
    margin-left: 10px;
    margin-bottom: 10px;
    line-height: 40px;
    width: max-content;
    background: #28313e;
    color: rgb(255, 255, 255);
    border-radius: 5px;
}

.amp-tags-ltr {
    direction: ltr !important;
}

.amp-tags-main {
    text-decoration: underline;
}

.amp-tags-eng {
    font-family: monospace;
}

#authcontainer {
    border-radius: 10px;
    width: 50%;
    margin: 0 auto;
    height: max-content;
    margin-top: 20px;
}

#authtab {
    justify-content: center;
    width: 100%;
    display: flex;
    justify-content: center;
}

#authtab>div {
    border: #f05a24 2px solid;
    direction: rtl;
    cursor: pointer;
    border-radius: 10px;
    font-family: broya;
    font-size: 36px;
    padding: 10px;
    margin: 10px;
}

#signup_div {
    direction: rtl;
    margin: 0 auto;
    width: 70%;
    height: fit-content;
}

.form_input_div {
    font-family: broya;
    margin: 5px auto 5px;
    width: 250px;
    height: 50px;
}

.form_input_div>input {
    font-size: 25px;
    text-align: center;
    font-family: broya;
    width: 100%;
    height: 100%;
}

#form_input_submit {
    margin: 10px auto 10px;
    margin-bottom: 20px;
    width: fit-content;
    height: 55px;
}

#form_input_submit>input {
    background: rgba(0, 0, 0, 0.281);
    cursor: pointer;
    padding: 10px;
    border: none;
    font-size: 32px;
    font-family: broya;
    width: 100%;
    height: 100%;
    border-radius: 5px;
}

#captcha-con {
    width: 60%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

#result {
    direction: rtl;
    padding: 10px;
    font-family: broya;
    font-size: 25px;
    width: max-content;
    border-radius: 10px;
    background: rgba(235, 4, 4, 0.514);
    text-align: center;
    margin: 0 auto 10px;
}

#notice {
    font-family: broya;
    font-size: 30px;
    direction: rtl;
    margin-bottom: 10px;
}

#notice-items {
    font-family: broya;
    line-height: 120%;
    font-size: 23px;
    direction: rtl;
    margin-bottom: 10px;
}

@media (max-width:1363px) {
    #amp-content-con {
        margin-top: 75px;
    }
    #comment-alert {
        text-indent: 0;
        padding-top: 5px;
        padding-bottom: 5px;
        padding-right: 10px;
        width: 70%;
        border-radius: 10px;
        font-size: 30px;
        height: max-content;
        line-height: 150%;
    }
    .amp-content-title {
        height: 80px;
        font-size: 40px;
        line-height: 120%;
        height: max-content;
        margin: 0 auto;
    }
    .amp-content-i {
        width: 90%;
        margin-right: 15%;
    }
}

@media (max-width:528px) {
    #font-changer {
        display: none;
    }
    #amp-dark-light {
        display: none;
    }
    .amp-content {
        margin: 10px auto 0;
        line-height: 140%;
        width: 90%;
        font-size: 22px;
    }
    .mini-title {
        font-size: 32px;
    }
    .amp-content-i {
        width: 90%;
        display: flex;
        font-size: 20px;
        color: #26A750;
        margin: 0 auto;
    }
    .amp-content-i>div {
        margin-right: 10px;
    }
    .pre-content {
        color: #30CE01;
    }
    .content-img-con {
        width: 100%;
    }
    .content-img-des {
        color: rgba(255, 255, 255, 0.548);
    }
    #comment-alert {
        font-size: 20px;
        width: 90%;
        margin: 0 auto;
    }
    #content-like {
        color: #26A750;
    }
    #post-url {
        width: 90%;
        font-size: 15px;
        margin-bottom: 40px;
        text-align: center;
    }
    #tags-con {
        width: 90%;
        margin-bottom: 20px;
    }
}